<div class="card">
        <div class="card-header">
          <h5 class="card-title">گزارش ماهیانه</h5>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
            <div class="btn-group">
              <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-wrench"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-left" role="menu">
                <a href="#" class="dropdown-item">منو اول</a>
                <a href="#" class="dropdown-item">منو دوم</a>
                <a href="#" class="dropdown-item">منو سوم</a>
                <a class="dropdown-divider"></a>
                <a href="#" class="dropdown-item">لینک</a>
              </div>
            </div>
            <button type="button" class="btn btn-tool" data-widget="remove">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <p class="text-center">
                <strong>وضعیت فروش این ماه</strong>
              </p>

              <div class="chart">
                  <%- include('../Elements/infobox.ejs' , {title : 'خرید های در 30 روز طلایی' , value : '1300' , icon : 'fa fa-tag' , type : 'warning'}) %>
                  <%- include('../Elements/infobox.ejs' , {title : 'خرید های تحویل داده شده' , value : '8900' , icon : 'fa fa-tag' , type : 'success'}) %>
              </div>
              <!-- /.chart-responsive -->
            </div>
            <!-- /.col -->
            <div class="col-md-4">
              <p class="text-center">
                <strong>میزان پیشرفت اهداف</strong>
              </p>

              <div class="progress-group">
                محصولات اضافه شده به سبد خرید
                <span class="float-left"><b>۱۶۰</b>/۲۰۰</span>
                <div class="progress progress-sm">
                  <div class="progress-bar bg-primary" style="width: 80%"></div>
                </div>
              </div>
              <!-- /.progress-group -->

              <div class="progress-group">
                خرید انجام شده
                <span class="float-left"><b>۳۱۰</b>/۴۰۰</span>
                <div class="progress progress-sm">
                  <div class="progress-bar bg-danger" style="width: 75%"></div>
                </div>
              </div>

              <!-- /.progress-group -->
              <div class="progress-group">
                <span class="progress-text">بازدید صفحات ویژه</span>
                <span class="float-left"><b>۴۸۰</b>/۸۰۰</span>
                <div class="progress progress-sm">
                  <div class="progress-bar bg-success" style="width: 60%"></div>
                </div>
              </div>

              <!-- /.progress-group -->
              <div class="progress-group">
                سوالات ارسالی
                <span class="float-left"><b>۲۵۰</b>/۵۰۰</span>
                <div class="progress progress-sm">
                  <div class="progress-bar bg-warning" style="width: 50%"></div>
                </div>
              </div>
              <!-- /.progress-group -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- ./card-body -->
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-3 col-6">
              <div class="description-block border-right">
                <span class="description-percentage text-success"><i class="fa fa-caret-up"></i> ۱۷%</span>
                <h5 class="description-header">تومان ۳۵,۲۱۰.۴۳</h5>
                <span class="description-text">کل گردش حساب</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-6">
              <div class="description-block border-right">
                <span class="description-percentage text-warning"><i class="fa fa-caret-left"></i> ۰%</span>
                <h5 class="description-header">تومان ۱۰,۳۹۰.۹۰</h5>
                <span class="description-text">فروش کل</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-6">
              <div class="description-block border-right">
                <span class="description-percentage text-success"><i class="fa fa-caret-up"></i> ۲۰%</span>
                <h5 class="description-header">تومان ۲۴,۸۱۳.۵۳</h5>
                <span class="description-text">سود کل</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-6">
              <div class="description-block">
                <span class="description-percentage text-danger"><i class="fa fa-caret-down"></i> ۱۸%</span>
                <h5 class="description-header">۱۲۰۰</h5>
                <span class="description-text">اهداف</span>
              </div>
              <!-- /.description-block -->
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.card-footer -->
      </div>