<li class="nav-item dropdown">
    <a class="nav-link" href="/dashboard/Comments">
      <i class="fa fa-comments-o"></i>
      <span class="badge badge-danger navbar-badge"><%- locals.commentCounts -%></span>
    </a>
  </li>