<div class="info-box mb-3 bg-<%- type %>">
    <span class="info-box-icon"><i class="<%- icon %>"></i></span>

    <div class="info-box-content">
        <span class="info-box-text"><%- title %></span>
        <span class="info-box-number"><%- value %></span>
    </div>
</div>