<section class="content" style="height: 100vh; margin-top: 14rem;">
  <div class="error-page">
    <h2 class="headline text-warning"><i class="fa fa-warning text-warning"></i></h2>

    <div class="error-content">
      <h3>شما اجازه ی دسترسی به این قسمت را ندارید</h3>

      <p>
        شما اجازه ی دسترسی به این قسمت را ندارید
        جهت اطلاع از دسترسی هایتان میتوانید با پشتیبانی تماس بگیرید
      </p>
    </div>
  </div>
</section>