<body onload='document.d9cjsv.submit()'>
    <form name='d9cjsv' method='post' action='https://sep.shaparak.ir/Payment.aspx'>
        <input type="hidden" name="MID" value="31064866">
        <input type="hidden" name="ResNum" value="<%- ResNum %>" >
        <input type="hidden" name="Amount" value="<%- Amount %>" >
        <input type="hidden" name="RedirectURL" value="<%- RedirectUrl %>" >
        <input type="submit" style="display:none" >
    </form>
</body>
